<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droiddev.sdu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".set_Fonts"
        android:allowBackup="true"
        android:icon="@drawable/ic_app2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginTeacherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="OPEN_DETAIL_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
        android:name=".teacher.QuizActivity"
        android:label="@string/title_activity_quiz"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".admin.QuizActivityAdmin"
        android:label="@string/title_activity_quiz"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.Camera_QRscan"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:label="@string/title_activity_home_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher.ReportActivity"
            android:label="รายงานการปฏิบัติงาน" />
        <activity
            android:name=".teacher.NewsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>